* {
    background-color:#fafafa;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Nunito',sans-serif;
}

table{
    width: 100%;
    /* padding: 15px 10px; */
    margin: 13px 0;
    text-align: center;
    border-spacing: 0;
}

td:first-child{
    background-color: #37474f;
    color: #fafafa;
    text-transform: uppercase;
}

th {
    padding: 15px 0;
    border: thick;
    border-spacing: 0;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    
}

.loading {
    padding: 20px;
    text-align: center;
    background-color: white;
}

td:nth-child(even){
    background-color: #fafafa;
}

td:nth-child(odd){
    background-color: #424242;
    color: #fafafa;
}